*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 6rem 0;
}


h1 {
    margin-bottom: 1.6rem;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.form-field input {
    padding: .5em 1em;
}

.form-submit {
    padding: .5em 1em;
    display: inline-block;
    width: fit-content;
    margin-left: auto;

}

.circle {
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid black;
    margin: 1.6rem 0;
    border-radius: 100%;
}

.notConnected {
    background-color: red;
}

.connected {
    background-color: greenyellow;
}


.ws-status {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
    padding: 1.6rem;
    margin: 1.6rem 0;
    gap: 0.8rem;
}

.ws-status-circle-text-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}